// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: rebeccapurple;
$body-color: white;
$primary: hotpink;
$font-family-base: "Roboto Mono", monospace;
$font-family-heading: "Roboto Slab", serif;

$link-hover-color: rgb(199, 125, 162);
$link-hover-decoration: none;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

.wrapper {
  margin-top: 56px;
}
.card {
  margin-top: 1rem;
}

.popover * {
  background-color: $dark;
}

.generalInfo {
  margin-top: 3rem;
  padding: 1rem;
  background-color: cornsilk;
  color: $body-bg;
  border-radius: 10px;
}

footer {
  margin-top: 2rem;
  text-align: center;
}
