// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #663399;
$body-color: #fcf7ff;
$primary: hotpink;
$secondary: #f4166e;
$silversand: #c4cad0;
$seaweed: #1f7a8c;

$font-family-base: "Roboto Mono", monospace;
$font-family-heading: "Roboto Slab", serif;

$link-hover-color: rgb(199, 125, 162);
$link-hover-decoration: none;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

// General
// * + * {
//   margin-top: 1rem;
// }
html {
  scroll-behavior: smooth;
}

body {
  margin: 20px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

h2 {
  text-align: center;
}

// Layout
#wrapper {
}

// Navbar
.navbar-brand > img {
  height: 40px;
}

.nav-item {
  margin-top: 0;
}

.nav-link {
  color: white !important;
}

// Carousel
.carousel-item {
  height: 40vh;
  object-fit: cover;
}

// Hero
.hero {
  display: flex;
  margin-top: 66px;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/triangles_background.svg);

  .container {
    margin: auto;
    text-align: center;
  }

  .avatar {
    width: 300px;
  }
}

// CONTAINER
.container-xl {
  align-items: center;
  padding: 2rem 0;
}

// Jumbotron
.jumbotron {
  margin: 0 auto;
}

// Cards
.card {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.fab {
  font-size: 12rem;
  color: $secondary;
}

.popover * {
  background-color: $dark;
}

// Sections

#tech {
  background-color: $silversand;
}

#funStuff {
  background-color: $secondary;
}

// Text-Blocks
.generalInfo {
  margin-top: 3rem;
  padding: 1rem;
  color: $body-color;
  border-radius: 10px;
}

// Footer
footer {
  margin-top: 2rem;
  text-align: center;
}
