// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #663399;
$body-color: #fcf7ff;
$primary: hotpink;
$secondary: #f4166e;
$silversand: #c4cad0;
$seaweed: #1f7a8c;

$font-family-base: "Roboto Mono", monospace;
$font-family-heading: "Roboto Slab", serif;

$link-hover-color: rgb(199, 125, 162);
$link-hover-decoration: none;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS
html {
  scroll-behavior: smooth;
}

body {
  margin: 20px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: $body-color;
}

// Navbar
.navbar-brand > img {
  height: 40px;
}
.collapse {
  justify-content: space-between;
}

.nav-item {
  margin-top: 0;
}

.nav-link {
  color: white !important;
}

.social {
  font-family: monospace;

  i.fab {
    font-size: 2rem;
    transition: 0.4s ease-in-out;
  }
  i.fab:hover {
    color: $body-color !important;
  }
}
// Carousel
.carousel-item {
  height: 40vh;
  object-fit: cover;
}

// Hero
.hero {
  display: flex;
  margin-top: 66px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://bwnstck.github.io/bootstrap-portfolio/img/background.svg");

  .container {
    margin: auto;
    text-align: center;
  }

  .avatar {
    background-color: rebeccapurple;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid gold;
  }
}

// CONTAINER
.container-xl {
  align-items: center;
  padding: 4rem 1rem;
}

// Jumbotron
.jumbotron {
  margin: 0 auto;
}

// Cards
.card {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.card-img-overlay {
  top: 0;
  padding: 0 0.5rem;
}

.fab {
  font-size: 5rem;
  color: $secondary;
}

.popover * {
  background-color: $dark;
}

.working-cards {
  transition: 0.3s ease-in-out;
}
.working-cards:hover {
  transform: scale(1.1);
}

// Sections
#cv {
  text-align: center;
}

#tech {
}
#recentWork {
  h2 {
    color: $secondary;
  }
  background-color: $body-color;

  img {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}

#contact {
  height: 400px;
  width: 100%;
  background-color: $silversand;
  color: $body-color;
  h2 {
    padding-bottom: 2rem;
  }
  .contact__Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-info {
    text-align: center;
    margin: 2rem;
    a {
      background-color: beige;
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 10px;
    }
    :hover {
      background-color: $secondary;
      color: $body-color;
    }
  }
}

// Text-Blocks
.generalInfo {
  margin-top: 3rem;
  padding: 1rem;
  color: $body-color;
  border-radius: 10px;
}

// Footer
footer {
  padding: 1rem;
  text-align: center;
  height: 70px;
}
